@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply flex flex-col justify-center items-center pt-12 gap-6;
  background: #f953c6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #b91d73,
    #f953c6
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.box {
  @apply w-[350px] h-[150px] bg-yellow-200 text-lg font-bold flex justify-center items-center rounded-md uppercase shadow-md translate-x-[400%] text-[#333] ease-linear duration-1000;
  background: #ede574; /* fallback for old browsers */
}
.box:nth-of-type(even) {
  @apply text-[#3c3c3c] translate-x-[-400%] ease-linear duration-1000;
  background: #74eded; /* fallback for old browsers */
}
.box.active {
  @apply translate-x-0 ease-linear duration-1000;
}
